/*Chris Gonzalez 2017*/
footer{
    text-align: center;
}

nav.navbar-inverse {
    background-color: #009956;
    border: #45A649;
}
a.navbar-brand {
    font-size: 1.8em;
    color: black !important;
}
.navbar-inverse .navbar-nav>li>a{
    font-size: 1.2em;
    color: #424B54;
}

nav div{
    padding: 1px;
    background-color: #BAD4AA;
}

/*center navbar elements*/

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}

body{
    background-color: #f3f4f1;
    font-family: 'Montserrat', sans-serif;
}

#signup, #login, #profile-info{
    width: 550px;
    margin: auto;
}

#login{
    height: 480px;
}

#signup{
/*    height: 560px; use this when first name and last name added to signup form */
      height: 480px;
}

div#newPostBlock{
    background-color: #e6e6e6;
}