/*Chris Gonzalez 2017*/
footer{
    text-align: center;
}

nav.navbar-inverse {
    background-color: #009956;
    border: #45A649;
}
a.navbar-brand {
    font-size: 1.8em;
    color: black !important;
}
.navbar-inverse .navbar-nav>li>a{
    font-size: 1.2em;
    color: #424B54;
}

nav div{
    padding: 1px;
    background-color: #BAD4AA;
}

/*center navbar elements*/

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}

body{
    background-color: #f3f4f1;
    font-family: 'Montserrat', sans-serif;
}

#signup, #login, #profile-info{
    width: 550px;
    margin: auto;
    padding: 8px;
}

#profile-info, #profile-feedback{
    height: 330px;
}

#login{
    height: 480px;
}

#signup{
/*    height: 560px; use this when first name and last name added to signup form */
      height: 480px;
}

div#newPostBlock, div#profile-info{
    background-color: #e6e6e6;   
}

.post{
    padding: 5px;
    background-color: #d6e5cc;
    overflow-wrap: break-word;
}

li{
    list-style: none;    
}

ul > li > div > div > a > i.fa {
    color: #7D7E75 !important;
}

ul > li > div > div > a > i.fa:hover{
    color: #424B54 !important;
}

ul > li > div > div > a > i.fa:active{
    color: #22262b !important;
}

a[ng-click]{
    cursor: pointer;
}